/* start variables */
:root {
  --main-color: #00c7fc;
  --transparent-colo: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

/* end variables */
/* start global rules */
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */
/* start components  */
.main-heading{
  text-align: center;
}
.main-heading h2{
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;

}

.main-heading h2::before{
     content: "";
     position: absolute;
     width: 120px;
     height: 2px;
     bottom: -30px;
     background-color: black;
     left:50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}

.main-heading h2:hover::after{
     content: "";
     position: absolute;
     width: 20px;
     height: 20px;
     bottom: -40px;
     background-color: var(--main-color);
     border: 2px solid var(--main-color);
     border-radius: 50%;
     left:50%;
     transform: translateX(-50%);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;

}
.main-heading h2::after{
     content: "";
     position: absolute;
     width: 10px;
     height: 10px;
     bottom: -35px;
     background-color: white;
     border: 2px solid black;
     border-radius: 50%;
     left:50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}
.main-heading p{
   width: 550px;
   width:100%;
   margin-bottom: 100px;
   line-height: 2;
   color: #777;
}


/* end components  */
/* start header  */
header {
  min-height: 100vh;
  background: url("../imgs/owl.jpg") center center/cover fixed;
  position: relative;
}
header * {
  z-index: 10;
}
header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), black);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 0;
}
header img {
  width: 115px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }

  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000087;
  }

  header .container nav ul li a {
    padding: 15px !important;
  }
}

header ul {
  display: flex;
}
header ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 30px 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
  z-index: 2;
}
header ul a.active,
header ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .form i {
  color: white;
  margin-left: 30px;
  padding: 10px 0 10px 10px;
  border-left: 2px #a2a2a2 solid;
}

header .landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  color: white;
  background-color: var(--transparent-colo);
  display: flex;
  justify-content: flex-end;
}
header .landing .text .content {
  max-width: 500px;
}

header .landing .text h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
}
header .landing .text p {
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 768px) {
    header .landing .text {
                width: 100%;

      }
      header .landing .change-background {
        display: none;
      }
}
header .landing .change-background {
  position: absolute;
 
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #ddd;
}
.fa-angle-left {
  left: 30px;
}

.fa-angle-right {
  right: 30px;
}

header .bullets li{
    border: 2px solid var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 5px;

}

header .bullets{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

header .bullets li:hover,
header .bullets li.active{
    background-color: var(--main-color);
}
/* end header */
/* start services section */
.services{
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 768px){
  .services .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
    gap: 50px;
  }
}

@media (max-width: 767px){
   .services .services-container .srv-box{
    display: flex;
    flex-direction: column;
    text-align: center;
  } 
}
.services .services-container .srv-box{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.services .services-container i{

}
.services .services-container h3{
 color: var(--main-color);
 margin-bottom: 20px;
}
.services .services-container p{
  line-height: 1.5;
  color: #777;
}
/* end services section */
/* start design section */
.design{
  padding-top: 100px;
  padding-bottom: 100px;
  height: 600px;
  overflow: hidden;
  position: relative;
  background-image: url("../imgs/69-Graphic-Wallpapers-on-WallpaperPlay.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

.design::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 767px){
  .design{
    display: flex;
    flex-direction: column;
    height: 1000px;

  }
  .design .image{
width: 50%;
overflow: hidden;
  }
  .design .image img{
    position: relative;
    bottom: 0;
    }
}
.design .image,
.design .text {
 z-index: 10;
 flex:1;
}
.design .image{
  text-align: center;
}
.design .image img{
position: relative;
bottom: -150px;
}
.design .text{
  align-self: center;
  color: white;
  padding: 50px;
  background-color: var(--transparent-colo);
}
.design .text h2{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.design .text ul li{
  padding: 15px 0;
}
.design .text ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}


/* end design section */
/* start portfolio section */
.portfolio{
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio .container .shuffle{
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.portfolio .container .shuffle li{
padding: 10px;
}

.portfolio .container .shuffle li:first-child{
background-color: var(--main-color);
color: white;
}

.portfolio .imgs-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio .imgs-container .box{
  position: relative;
  overflow: hidden;
  
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box{
    flex-basis: 50%;
  }
  
}

@media (min-width: 1200px) {
  .portfolio .imgs-container .box{
    flex-basis: 25%;
  }
}
.portfolio .imgs-container img{
  max-width: 100%;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.portfolio .box .caption{
   position: absolute;
   padding: 20px;
   bottom: -100%;
   left: 0;
   background-color: white;
   width: 100%;
   transition: all .3s ease-in;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s ;

}
.portfolio .box:hover .caption{
  bottom: 0;
}

.portfolio .box:hover img{
  transform: rotate(10deg) scale(1.5);
  -webkit-transform: rotate(10deg) scale(1.5);
  -moz-transform: rotate(10deg) scale(1.5);
  -ms-transform: rotate(10deg) scale(1.5);
  -o-transform: rotate(10deg) scale(1.5);
}

.portfolio .box .caption p{
 color: var(--main-color);
}

.portfolio .more {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  margin: 40px auto;
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}
.portfolio .more:hover{
  background-color: transparent;
  color: black;
  border: 1px solid var(--main-color);
  box-shadow: 1px 2px  10px #a2a2a2;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* end portfolio section */
/* start Video Section */
.video{
  position: relative;
}
.video::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
video{
  width: 100%;
  /* aspect-ratio: ;  search on it*/ 
}

.video .text{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 40px;
  text-align: center;
  background-color: var(--transparent-colo);
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
}
.video .text h2{
  color: white;
  margin-bottom: 10px;

}
.video .text p {
  color: white;
  text-transform: uppercase;

}
.video .text button{

  background-color: transparent;
  color: white;
  border: 1px solid var(--main-color);
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  margin: 10px auto;
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}
.video .text button:hover{
  background-color: var(--main-color);
  color: white;
  box-shadow: 1px 2px  10px #a2a2a2;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* end Video Section */
/* start About section */
.about{
  padding-top: 100px;
  overflow: hidden;
  text-align: center;
}
.about img{
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  width: 100%;
}

@media (max-width: 768px) {
  .about img{
  bottom: -50px;
  margin-top: -50px;
  }
}
/* end About section */
/* start stats  */
.stats {
  background: url("../imgs/owl.jpg") center center/cover fixed;
  position: relative; 
  text-align: center;
}

.stats:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7)
}
.stats .container{
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}
.stats .box{
  padding: 50px 0;
  color: white;
  background-color: var(--transparent-colo);
}
@media (max-width: 768px) {
  .stats .container .box{
    flex-basis: 100%;
  }
}
@media (max-width: 991px) {
  .stats .container .box{
    flex-basis: 50%;
  }
}
  @media (min-width: 991px) {
    .stats .container .box{
      flex-basis: 25%;
    }
}
.stats .container .box i{
  padding: 10px;
  font-size: 20px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 20px;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container .box p {
  font-size: 14px;
}
/* end stats  */
/* Start Skills */
.our-skills {
  padding-top: 100px;
  padding-bottom: 100px;
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.prog-holder{
  margin-bottom: 40px;
}
.prog-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;

}
.prog-holder .prog{
  background-color: #aaa;
  height: 30px;
  width: 100%;
}
.prog-holder .prog span {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--main-color);
}
.prog-holder .prog span::before{
  content: attr(data-progress);
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 4px;
  top: -40px;
  right: -20px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* End Skills */