/* start variables */
:root {
  --main-color: #00c7fc;
  --transparent-colo: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

/* end variables */
/* start global rules */
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */
/* start components  */
.main-heading{
  text-align: center;
}
.main-heading h2{
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;

}

.main-heading h2::before{
     content: "";
     position: absolute;
     width: 120px;
     height: 2px;
     bottom: -30px;
     background-color: black;
     left:50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}

.main-heading h2:hover::after{
     content: "";
     position: absolute;
     width: 20px;
     height: 20px;
     bottom: -40px;
     background-color: var(--main-color);
     border: 2px solid var(--main-color);
     border-radius: 50%;
     left:50%;
     transform: translateX(-50%);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;

}
.main-heading h2::after{
     content: "";
     position: absolute;
     width: 10px;
     height: 10px;
     bottom: -35px;
     background-color: white;
     border: 2px solid black;
     border-radius: 50%;
     left:50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}
.main-heading p{
   width: 550px;
   width:100%;
   margin-bottom: 100px;
   line-height: 2;
   color: #777;
}


/* end components  */
/* start header  */
header {
  min-height: 100vh;
  background: url("../imgs/owl.jpg") center center/cover fixed;
  position: relative;
}
header * {
  z-index: 10;
}
header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), black);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 0;
}
header img {
  width: 115px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }

  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000087;
  }

  header .container nav ul li a {
    padding: 15px !important;
  }
}

header ul {
  display: flex;
}
header ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 30px 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
  z-index: 2;
}
header ul a.active,
header ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .form i {
  color: white;
  margin-left: 30px;
  padding: 10px 0 10px 10px;
  border-left: 2px #a2a2a2 solid;
}

header .landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  color: white;
  background-color: var(--transparent-colo);
  display: flex;
  justify-content: flex-end;
}
header .landing .text .content {
  max-width: 500px;
}

header .landing .text h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
}
header .landing .text p {
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 768px) {
    header .landing .text {
                width: 100%;

      }
      header .landing .change-background {
        display: none;
      }
}
header .landing .change-background {
  position: absolute;
 
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #ddd;
}
.fa-angle-left {
  left: 30px;
}

.fa-angle-right {
  right: 30px;
}

.bullets li{
    border: 2px solid var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 5px;

}

.bullets{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.bullets li:hover,
.bullets li.active{
    background-color: var(--main-color);
}
/* end header */
/* start services section */
.services{
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 768px){
  .services .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
    gap: 50px;
  }
}

@media (max-width: 767px){
   .services .services-container .srv-box{
    display: flex;
    flex-direction: column;
    text-align: center;
  } 
}
.services .services-container .srv-box{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.services .services-container i{

}
.services .services-container h3{
 color: var(--main-color);
 margin-bottom: 20px;
}
.services .services-container p{
  line-height: 1.5;
  color: #777;
}
/* end services section */